.Container {
    text-align: center;
    width: 90vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    background: #eee;
    padding: 20px 40px;
    border-radius: 13px;
    margin-top: 4rem;

    .item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        column-gap: 70px;

        span {
            font-size: 20px;
            font-weight: 400;
            text-align: left;
        }

        span:first-child {
            font-weight: bold;
            flex: 1;
        }
        span:last-child {
            flex: 11;
        }
    }
}